* {
    border-radius: var(--border-radius);
    scrollbar-color: #444 transparent;
    scrollbar-width: thin;
}

html, body {
    overflow: hidden;
}

body {
    background-color: #222;
}

div#spa-menu {
    width: 250px;
    min-width: 250px;
    gap: var(--gap);
    opacity: 1;
    /* padding-left: 32px; */
}

div#spa-menu button.spa-nav-button {
    background-color: transparent;
    transition: background-color .15s;
    color: white;
    display: flex;
    gap: var(--gap);
    align-items: center;
}

div#spa-menu button.spa-nav-button[active] {
    background-color: var(--primary-color);
}

div#spa-menu button.spa-nav-button#settings {
    background-color: #151515;
}

div#spa-menu button.spa-nav-button#settings[active] {
    background-color: var(--alert-color);
    border: none;
}

div#partials-container {
    padding: var(--pad);
    /* padding-left: 0; */
    overflow: hidden;
}

div.spa-content-container {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    padding: 16px 32px;
    color: var(--white-color);
    background-color: #151515;
}

div.spa-content-container > div .partial-title {
    margin: 16px 0;
}

div.spa-content-container > div {
    display: none;
    opacity: 0;
    transition: opacity .15s;
}

input#res-date-filter {
    width: 175px;
}

div.tables-container {
    gap: 16px;
    flex-wrap: wrap;
}

div.tables-container div.table {
    position: relative;
    height: 175px;
    width: 300px;
    min-height: 175px;
    min-width: 300px;
    cursor: pointer;
    overflow: hidden;
    display: none;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

div.tables-container div.table-spacer {
    display: none;
}

div.tables-container div.table:hover {
    background-image: linear-gradient(rgb(0 0 0 / .15) 0 0);
}

div.tables-container div.table div.open-indicator {
    position: absolute;
    right: 8px;
    bottom: 4px;
}

div.tables-container div.table-header {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

div.tables-container div.table ul.order-list {
    list-style-type: none;
}

div.tables-container div.table ul.order-list > li {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

div.table-modal {
    display: none;
    opacity: 0;
    transition: opacity .15s;
    background-color: rgb(0 0 0 / .5);
    position: absolute;
    top: 0;
    left: 0;
}

div.table-modal div.table-info-container {
    height: calc(100% - 32px);
    width: 600px;
    overflow: auto;
    transition: background-color .15s ease-in-out;
    padding: 16px 32px;
}

div.table-modal div.modal-header select#status-dropdown {
    height: 54px;
    padding: 0 16px;
    border: none;
}

div.table-modal div.modal-header button#delete-table {
    height: 53px;
    border: 1px solid var(--danger-color);
}

div.table-modal div.modal-header button#delete-table:hover {
    background-color: var(--danger-color);
    color: white;
}

div.table-modal div.modal-body ul.order-list > li {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

@media only screen and (max-width: 1000px) {
    /* div#spa-menu {
        display: none;
        opacity: 0;
    } */

    div.table-modal div.table-info-container {
        width: calc(100% - 32px);
    }
}